<h2>Add new Celebrity</h2>
<form action="/celebrities/new" method="POST">
    <label>
        <p>Name <input type="text" name="name"></p>
    </label>
    <label>
        <p>Occupation <input type="text" name="occupation"></p>
    </label>
    <label>
        <p>Catch Phrase <input type="text" name="catchPhrase"></p>
    </label>
    <button type="submit">Add new Celebrity</button>
</form>