<h2>Add Movie</h2>
<form action="/movies/new" method="POST">
    <label>
        <p>Title <input type="text" name="title"></p>
    </label>
    <label>
        <p>Genre <input type="text" name="genre"></p>
    </label>
    <label>
        <p>Plot<input type="text" name="plot"></p>
    </label>
    <button type="submit">Add Movie</button>
</form>